/*styling for background*/
body {
  background-color: #f2eae1;
  font-family: sans-serif;
}

/* styling for navbar */
.topnav {
  background-color: #C1012D;
  overflow: hidden;
  font-style: italic;
  font-weight: bold;
}

.topnav a {
  float: left;
  color: #f2eae1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 100%;
}

.topnav a:hover {
  background-color: white;
  color: #C1012D;
}

.topnav a.active {
  background-color: white;
  color: #C1012D;
}

/* Flexbox CSS */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box img {
  width: 800;
}

.topnav {
  display: flex;
  align-items: center;
  justify-content: left;
}

.headline {
  text-align: center;
  font-size: 25px;
  color: #C1012D;
  font-style: italic;
  font-family: sans-serif;
}

.content {
  background-color: white;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 25px;
  padding: 10px;
  font-family: sans-serif;
  font-size: large;
}

#home-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

#best {
  font-weight: bold;
  color: #c1012d;
  text-decoration: underline;
}

.menu-info {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

#menu-back {
  background-color: white;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 25px;
  padding: 10px;
}

.prices {
  font-weight: bold;
}

.menu-back {
  background-color: white;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 25px;
  padding: 10px;
}

.contact {
  text-align: center;
  background-color: white;
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 25px;
  padding: 10px;
}

.fancy {
  font-style: italic;
  color: #C1012D;
}

.flavor {
  font-size: 200%;
  text-decoration: underline;
}

.subhead {
  font-size: 30px;
}